<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 minutes">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/test-logs.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line %kvp - %msg%n</pattern>
    </encoder>
  </appender>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

  <logger name="uk.co.spudsoft.query" level="DEBUG" />
  <!-- logger name="uk.co.spudsoft.query.exec.procs.subquery" level="TRACE" /-->

  <logger name="ContainerOutput" level="WARN" />
  <logger name="liquibase.changelog" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUTPUT"/>
  </root>

</configuration>
