arguments:
  - name: key
    type: String
    possibleValues: 
    - MS SQL Server
    - MySQL
    - PostgreSQL
  - name: port
    type: Integer
sourceEndpoints:
  MS SQL Server:
    type: SQL
    url: "sqlserver://localhost:${params.port}/test"
    username: sa
    password: T0p-Secret
  MySQL:
    type: SQL
    url: "mysql://localhost:${params.port}/test"
    username: user
    password: T0p-Secret
  PostgreSQL:
    type: SQL
    url: "postgresql://localhost:$params.port/test"
    username: postgres
    password: T0p-Secret
source:
  type: SQL
  endpoint: $params.key
  streamingFetchSize: 7
  replaceDoubleQuotes: true  
  query: select d."dataId", d.instant, c.name as ref, d.value from "Data" d join "Colours" c on d."colourId" = c."colourId" where d."dataId" < 20 order by d."dataId"
processors:
- type: GROUP_CONCAT
  delimiter: ","
  parentIdColumn: dataId
  innerJoin: false
  childIdColumn: dataId
  parentValueColumn: children
  childValueColumn: value
  input:
    source:
      type: SQL
      endpoint: "${params.key}"
      streamingFetchSize: 10
      replaceDoubleQuotes: true  
      query: select "dataId", value from "ManyData" m join "RefData" r on r."refId" = m."refId" where "dataId" < 20 order by "dataId", sort
- type: LIMIT
  limit: 13
formats:
- type: XLSX
- type: Delimited
  name: tab
  delimiter: "\t"
  newline: "\n"
  extension: tsv
  headerRow: true
  mediaType: text/tsv
- type: Delimited
  headerRow: false
- type: HTML
  name: table
