{
  "arguments": [
    {
      "type": "String"
      , "name": "key"
    }
    , {
      "type": "Integer"
      , "name": "port"
    }
  ],
  "sourceEndpoints": [
    { "name": "MS SQL Server",
      "type": "SQL",
      "url": "sqlserver://localhost:$params.port/test",
      "username": "sa",
      "password": "T0p-Secret"
    },
    { "name": "MySQL",
      "type": "SQL",
#if($request.clientIp=="127.0.0.1")
      "url": "mysql://localhost:$params.port/test",
#else
      "url": "mysql://host.docker.internal:$params.port/test",
#end
      "username": "user",
      "password": "T0p-Secret"
    }
    ,
    { "name": "PostgreSQL",
      "type": "SQL",
      "url": "postgresql://localhost:$params.port/test",
      "username": "postgres",
      "password": "T0p-Secret"
    }
  ]
  ,
  "source": {    
    "type": "SQL",
    "name": "${params.key}",
    "endpoint": "${params.key}",
    "streamingFetchSize": 7,
    "replaceDoubleQuotes": true,
    "query": "select d.\"dataId\", d.instant, c.name as ref, d.value from \"Data\" d join \"Colours\" c on d.\"colourId\" = c.\"colourId\" where d.\"dataId\" < 20 order by d.\"dataId\""
  }
  ,
  "processors": [
    {
      "type":"GROUP_CONCAT",
      "innerJoin":false,
      "parentIdColumns":["dataId"],
      "delimiter":",",
      "childIdColumns":["dataId"],      
      "parentValueColumn":"children",      
      "childValueColumn":"value",
      "input": {
        "source": {    
          "type": "SQL",
          "endpoint": "${params.key}",
          "streamingFetchSize": 10,
          "replaceDoubleQuotes": true,
          "query": "select \"dataId\", value from \"ManyData\" m join \"RefData\" r on r.\"refId\" = m.\"refId\" where \"dataId\" < 20 order by \"dataId\", sort"
        }
      }
    }
    , 
    {
      "type":"DYNAMIC_FIELD",
      "innerJoin":false,
      "parentIdColumns":["dataId"],
      "fieldColumnColumn":"valuefield",
      "valuesParentIdColumns":["dataId"],
      "valuesFieldIdColumn":"fieldId",
      "fieldDefns": {
        "source": {    
          "type": "SQL",
          "endpoint": "${params.key}",
          "streamingFetchSize": 10,
          "replaceDoubleQuotes": true,
          "query": "select \"fieldId\" as id, name, type, \"valueField\" as valuefield from \"Fields\" order by \"fieldId\""
        }
      },
      "fieldValues": {
        "source": {    
          "type": "SQL",
          "endpoint": "${params.key}",
          "streamingFetchSize": 10,
          "replaceDoubleQuotes": true,
          "query": "select \"dataId\", \"fieldId\", \"dateValue\", \"timeValue\", \"dateTimeValue\", \"longValue\", \"doubleValue\", \"boolValue\", \"textValue\" from \"FieldValues\" order by \"dataId\""
        }
      }
    }
    , 
    {
      "type":"LIMIT",
      "limit":13
    }
  ]
  ,
  "formats": [{
    "type": "JSON"
  }]
}